<div class="genre">
  <div class="title-bar">
    <h2>{{ genre.name }}</h2>
  </div>
  <div *ngIf="shows?.length > 0" class="carousel" #stepCarousel appFlickity>
    <div
      class="movieBox"
      *ngFor="let show of shows"
      [routerLink]="['/show/' + show.id]"
    >
      <img
        *ngIf="show.poster_path"
        src="https://image.tmdb.org/t/p/original{{ show.poster_path }}"
        alt=""
      />
      <img
        id="placeholder"
        *ngIf="!show.poster_path"
        src="../../../../../assets/images/posterPlaceholder.jpg"
        alt=""
      />
    </div>
  </div>
</div>
