<div class="full-navbar">
  <div [@inOutAnimation] class="content">
    <div id="title">
      <h2>CINEMAHOLIC</h2>
    </div>
    <div class="routes">
      <div
        class="route"
        [routerLink]="['home']"
        [routerLinkActive]="['selected']"
      >
        <span class="material-symbols-outlined">home</span>
        <h2>Home</h2>
      </div>
      <div
        class="route"
        [routerLink]="['discovery']"
        [routerLinkActive]="['selected']"
      >
        <span class="material-symbols-outlined">explore</span>
        <h2>Discovery</h2>
      </div>
      <div
        class="route"
        [routerLink]="['search']"
        [routerLinkActive]="['selected']"
      >
        <span class="material-symbols-outlined">search</span>
        <h2>Search</h2>
      </div>
      <div
        class="route"
        [routerLink]="['livenow']"
        [routerLinkActive]="['selected']"
      >
        <span class="material-symbols-outlined">timer</span>
        <h2>Live Now</h2>
      </div>
      <div
        class="route"
        [routerLink]="['toprated']"
        [routerLinkActive]="['selected']"
      >
        <span class="material-symbols-outlined">local_fire_department</span>
        <h2>Top Rated</h2>
      </div>
      <div
        class="route"
        [routerLink]="['artists']"
        [routerLinkActive]="['selected']"
      >
        <span class="material-symbols-outlined">theater_comedy</span>
        <h2>Artists</h2>
      </div>
      <div
        class="route"
        [routerLink]="['favorites']"
        [routerLinkActive]="['selected']"
      >
        <span class="material-symbols-outlined">bookmark</span>
        <h2>Favorites</h2>
      </div>
      <a
        class="route"
        href="https://wherecaniwatch.vercel.app"
        target="_blank"
        style="text-decoration: none"
      >
        <span class="material-symbols-outlined"> open_in_new </span>
        <h2>Where Can I Watch?</h2>
      </a>
    </div>
  </div>
</div>
