.mainBody {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}

.middle {
  display: flex;
  flex-direction: row;
  width: 85%;
  background-color: #272b2e;
}

app-navbar {
  width: 15%;
  z-index: 1;
  box-shadow: 7px -1px 23px -6px rgba(0, 0, 0, 0.75);
}

app-footer {
  min-height: 20vh;
}

@media only screen and (max-width: 1450px) {
  .sidebar {
    transition: 0.5s;
    display: none;
  }
  .middle {
    width: 85%;
  }
}
