<div [@inOutAnimation] class="upcoming-and-top">
  <div class="upcomingMovies">
    <div class="title-bar">
      <h2 class="subtitle">UPCOMING MOVIES</h2>
      <button [routerLink]="['../discovery/movies']">MORE</button>
    </div>
    <div
      class="slider-item"
      *ngFor="let u of upcoming | slice : currMovie : currMovie + 1"
      [routerLink]="['/movie/' + u.id]"
    >
      <img
        [@inOutAnimation]
        src="https://image.tmdb.org/t/p/original{{ u.backdrop_path }}"
        alt=""
      />
      <div class="desc">
        <h1>{{ u.title }}</h1>
        <p>{{ u.overview }}</p>
      </div>
      <button class="prevButton" (click)="prevSlideMovie()">
        <span class="material-symbols-outlined"> arrow_back_ios </span>
      </button>
      <button class="nextButton" (click)="nextSlideMovie()">
        <span class="material-symbols-outlined"> arrow_forward_ios </span>
      </button>
    </div>
  </div>

  <div class="topRatedShows">
    <div class="title-bar">
      <h2 class="subtitle">POPULAR SHOWS</h2>
      <button [routerLink]="['../discovery/shows']">MORE</button>
    </div>
    <div
      class="slider-item"
      *ngFor="let s of popular | slice : currShow : currShow + 1"
      [routerLink]="['/show/' + s.id]"
    >
      <img
        [@inOutAnimation]
        src="https://image.tmdb.org/t/p/original{{ s.backdrop_path }}"
        alt=""
      />
      <div class="desc">
        <h1>{{ s.name }}</h1>
        <p>{{ s.overview }}</p>
      </div>
      <button class="prevButton" (click)="prevSlideShow()">
        <span class="material-symbols-outlined"> arrow_back_ios </span>
      </button>
      <button class="nextButton" (click)="nextSlideShow()">
        <span class="material-symbols-outlined"> arrow_forward_ios </span>
      </button>
    </div>
  </div>
</div>

<div [@inOutAnimation] class="artists-div">
  <div class="upcomingMovies">
    <div class="title-bar">
      <h2 class="subtitle">TRENDING ARTISTS</h2>
      <button [routerLink]="['../artists']">MORE</button>
    </div>
  </div>
  <div class="displayArtists">
    <div *ngIf="artists?.length > 0" class="carousel" #stepCarousel appFlickity>
      <div
        *ngFor="let a of artists"
        class="item-box"
        [routerLink]="['../artist/' + a.id]"
      >
        <img
          *ngIf="a.profile_path"
          src="https://image.tmdb.org/t/p/original{{ a.profile_path }}"
          alt=""
        />
        <img
          id="placeholder"
          *ngIf="!a.profile_path"
          src="../../assets/images/artistPlaceholder.jpg"
          alt=""
        />
        <div class="artistDesc">
          <h2>{{ a.name }}</h2>
          <p *ngFor="let k of a.known_for">
            <ng-container *ngIf="k.media_type === 'movie'">{{
              k.title
            }}</ng-container>
            <ng-container *ngIf="k.media_type === 'tv'">{{
              k.name
            }}</ng-container>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader
  [overlayColor]="'#1f2326'"
  [loaderText]="'Please wait...'"
  [loaderTextColor]="'#fd515a'"
></app-loader>
