<nav class="second-navbar">
  <div [routerLink]="['../movies']">Movies</div>
  <div [routerLink]="['shows']" class="topRatedSelected">Shows</div>
</nav>
<div class="toprated-list" [@inOutAnimation]>
  <div class="toprated-item" *ngFor="let show of shows; index as i">
    <img
      src="https://image.tmdb.org/t/p/original{{ show.poster_path }}"
      alt=""
      [routerLink]="['../../show/' + show.id]"
    />
    <div>
      <h2 [routerLink]="['../../show/' + show.id]">
        {{ i + 1 }}. {{ show.name }} ({{ show?.first_air_date.slice(0, 4) }})
      </h2>
      <h2>{{ show.vote_average }}</h2>
    </div>
  </div>
</div>
<div class="button-div">
  <button class="red-button" (click)="loadMore()">SHOW MORE</button>
</div>
<app-loader
  [overlayColor]="'#1f2326'"
  [loaderText]="'Please wait...'"
  [loaderTextColor]="'#fd515a'"
></app-loader>
