.footerDiv {
  min-height: 10vh;
  background-color: #1f2326;
  color: #fbfbf2;
  font-family: BebasNeue, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  user-select: none;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  i,
  h4 {
    opacity: 0.8;
  }
  i {
    font-size: 0.8rem;
  }
  h4 {
    font-size: 1rem;
  }
}
