.footerDiv{
  min-height: 30vh;
  background-color: #1F2326;
  color: #FBFBF2;
  font-family: BebasNeue, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 2rem;
  user-select: none;
}
