<div class="details-body">
  <div class="header">
    <div id="gradient"></div>
    <img
      src="https://image.tmdb.org/t/p/original{{ movie?.backdrop_path }}"
      alt=""
    />
  </div>
  <div class="mainMovieDetails">
    <div class="left">
      <img
        src="https://image.tmdb.org/t/p/original{{ movie?.poster_path }}"
        alt=""
      />
      <div class="rating">
        <h1>{{ movie?.vote_average.toPrecision(2) }}\10</h1>
        <p>({{ movie?.vote_count }} votes)</p>
      </div>
    </div>
    <div class="middle">
      <div class="titles">
        <h1>{{ movie?.title }}</h1>
        <p>
          Original title: {{ movie?.original_title }} ({{
            movie?.release_date.slice(0, 4)
          }})
        </p>
      </div>

      <div class="buttons">
        <button (click)="playTrailer()">
          Watch trailer
          <span class="material-symbols-outlined">play_arrow</span>
        </button>
      </div>

      <div class="overview">
        <p>{{ movie?.overview }}</p>
      </div>

      <div class="extraDetails">
        <h2>Details</h2>
        <div class="table">
          <h4>Genre</h4>
          <div class="attributes">
            <p class="attribute" *ngFor="let g of movie?.genres">
              {{ g?.name }}
            </p>
          </div>
        </div>
        <div class="table">
          <h4>Country of origin</h4>
          <div>
            <p>{{ movie?.production_countries[0].name }}</p>
          </div>
        </div>
        <div class="table">
          <h4>Runtime</h4>
          <div>
            <p>{{ movie?.runtime }} minutes</p>
          </div>
        </div>
      </div>

      <div class="providers">
        <h2>Availability</h2>
        <div class="providersList">
          <ng-container *ngIf="providers">
            <div class="buy">
              <h4>Buy</h4>
              <ng-container *ngIf="providers.buy">
                <div *ngFor="let p of providers?.buy">
                  <img
                    src="https://image.tmdb.org/t/p/original{{ p.logo_path }}"
                    alt=""
                  />
                </div>
              </ng-container>
              <ng-container *ngIf="!providers?.buy">
                <div>No provider to buy.</div>
              </ng-container>
            </div>
            <div class="rent">
              <h4>Rent</h4>
              <ng-container *ngIf="providers.rent">
                <div *ngFor="let p of providers.rent">
                  <img
                    src="https://image.tmdb.org/t/p/original{{ p.logo_path }}"
                    alt=""
                  />
                </div>
              </ng-container>
              <ng-container *ngIf="!providers.rent">
                <div>No provider to rent.</div>
              </ng-container>
            </div>
            <div class="stream">
              <h4>Stream</h4>
              <ng-container *ngIf="providers.flatrate">
                <div *ngFor="let p of providers.flatrate">
                  <img
                    src="https://image.tmdb.org/t/p/original{{ p.logo_path }}"
                    alt=""
                  />
                </div>
              </ng-container>
              <ng-container *ngIf="!providers.flatrate">
                <div>No provider to stream.</div>
              </ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="!providers">
            <div>Not available to buy, rent or stream in Croatia</div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="right">
      <h2>Cast & Crew</h2>
      <div class="castDiv">
        <ng-container *ngIf="cast">
          <div class="castBox" *ngFor="let c of cast | slice : 0 : 5">
            <img
              *ngIf="c.profile_path"
              src="https://image.tmdb.org/t/p/original{{ c.profile_path }}"
              alt=""
            />
            <img
              *ngIf="!c.profile_path"
              src="assets/images/artistPlaceholder.jpg"
              alt=""
            />
            <div class="character" [routerLink]="['/artist/' + c.id]">
              <h3>{{ c.name }}</h3>
              <p>as {{ c.character }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
