<div>
  <h2>Movies now in Cinemas</h2>
</div>

<div>
  <div *ngFor="let movie of nowPlaying">
    <img
      src="https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}"
      alt=""
    />
    <div class="gradient" [routerLink]="['../movie/' + movie.id]">
      <div class="movieText">
        <h1>{{ movie.title }}</h1>
        <p>
          <span class="material-symbols-outlined">event</span>
          {{ movie.release_date }}
        </p>
        <p>
          <span class="material-symbols-outlined">star_rate</span>
          {{ movie.vote_average }}
        </p>
        <p *ngIf="movie.overview.length > 300" id="overview">
          {{ movie.overview.slice(0, 300) }}...
        </p>
        <p *ngIf="movie.overview.length < 300" id="overview">
          {{ movie.overview }}
        </p>
      </div>
    </div>
  </div>
</div>
<app-loader
  [overlayColor]="'#1f2326'"
  [loaderText]="'Please wait...'"
  [loaderTextColor]="'#fd515a'"
></app-loader>
