.fullBody{
  font-family: "Quicksand Light", sans-serif;
  color: #FBFBF2;
}

.top{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 8% auto;
  align-items: center;
  align-content: center;
  height: 400px;
}

.imgDiv {
  width: 30%;
}
.imgDiv img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 20px;
}

.textDiv{
  margin-left: 5%;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.greyed {
  color: #adadad;
  margin: 5px 0;
}

.bottom {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.titleBar{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #FBFBF2;
}
.titleBar button {
  border: none;
  outline: none;
  background-color: #FD515A;
  color: #FBFBF2;
  padding: 1%;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    transition: 0.1s;
    background-color: #fc3843;
    z-index: 1;
  }
}

.movies, .shows {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  min-height: 200px;
  flex-wrap: wrap;
}

.box {
  width: 20%;
  height: 100%;
}
.box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  cursor: pointer;
  transition: 0.15s;
  &:hover {
    transform: scale(1.05);
  }
}
