/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/custom";
@import "./assets/styles/pages";
@import "./assets/styles/toprated";
@import "./assets/styles/discovery";
@import "./assets/styles/shared";

@font-face {
  font-family: "BebasNeue";
  src: local("BebasNeue"),
    url(./assets/fonts/BebasNeue-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand Light";
  src: local("Quicksand Light"),
    url(./assets/fonts/Quicksand-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand SemiBold";
  src: local("Quicksand SemiBold"),
    url(./assets/fonts/Quicksand-SemiBold.ttf) format("truetype");
}
