/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "BebasNeue";
  src: local("BebasNeue"),
    url(./assets/fonts/BebasNeue-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Quicksand Light";
  src: local("Quicksand Light"),
    url(./assets/fonts/Quicksand-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand SemiBold";
  src: local("Quicksand SemiBold"),
    url(./assets/fonts/Quicksand-SemiBold.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

app-movie-details {
  min-height: 1000px;
  width: 100%;
}
app-home,
app-search,
app-top-movies,
app-top-shows,
app-shows,
app-movies,
app-live-now,
app-favorites {
  width: 100%;
}

.titleBar {
  text-transform: uppercase;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #fbfbf2;
}
.arrows {
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: #fd515a;
  }
}
.redButton {
  font-family: "Quicksand Light", sans-serif;
  border: none;
  outline: none;
  background-color: #fd515a;
  color: #fbfbf2;
  padding: 1%;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    transition: 0.1s;
    background-color: #fc3843;
  }
}

.topRatedNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  div {
    cursor: pointer;
    user-select: none;
    font-family: "Quicksand Light", sans-serif;
    color: #fbfbf2;
    width: 50%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: 0.5s;
    border-radius: 10px;
    font-size: 1.5rem;
    &:hover {
      background-color: #1f2326;
    }
  }
}

.topRatedSelected {
  background: rgb(251, 251, 251);
  background: linear-gradient(
    0deg,
    rgba(251, 251, 251, 0) 13%,
    rgba(25, 27, 28, 1) 93%
  );
}

.topRatedList {
  transition: 1s;
  font-family: "Quicksand Light", sans-serif;
  color: #fbfbf2;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 2000px;
}

.topRatedMovie {
  width: 90%;
  margin: 12px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #fbfbf2;
  padding-bottom: 24px;
  user-select: none;
  img {
    cursor: pointer;
    width: 15%;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.2s;
    &:hover {
      transform: scale(1.02);
    }
  }
  div {
    width: 85%;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    h2:nth-child(1) {
      cursor: pointer;
      width: 90%;
      transition: 0.2s;
      &:hover {
        text-decoration: underline;
      }
    }
    h2:nth-child(2) {
      width: 10%;
      text-align: right;
    }
  }
  transition: 1s;
  &:hover {
  }
}
